@charset "utf-8";

* {
    background-color: transparent;
    padding: 0; margin: 0; border-style: none;
    touch-action: none;
}

noscript {
    color: #fff;
    position: fixed;
    display: inline-block;
    width: 100%;
    left: 0; bottom: 50%;
    z-index: 99;
    visibility: visible;
}

body {
    background-color: #ccc;
    position: relative;
    width: 100dvw; height: 100dvh;
    text-align: center;
    visibility: hidden;
}

header, footer {
    background-color: #666;
    position: absolute;
    width: 100%; height: 10svh;
    background-repeat: no-repeat;
    z-index: 90;
}
header {
    top: 0;
}
footer {
    bottom: 0;
    background-image: url(../Image/FooterText.png);
    background-size: auto 3svh;
    background-position: center;
}

#Contents {
    position: absolute;
    width: 100%;
    top: 10svh; bottom: 10svh;
    overflow: hidden;
}

button {
    transition-property: transform;
    transition-duration: 200ms;
}
button:hover {
    background-blend-mode: multiply;
    transform: scale(1.1);
    z-index: 1;
}

#ButtonOption {
    position: absolute;
    width: 7svh; aspect-ratio: 1 / 1;
    right: 10px; top: calc(50% - 3.5svh);
    background-image: url(../Image/ButtonOption.png), url(../Image/ButtonOptionPush.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 91;
}
#ButtonOption:active {
    background-image: url(../Image/ButtonOptionPush.png);
}

nav#HomeMenu {
    background-color: #999;
    position: fixed;
    width: 100dvw;
    top: 10svh; bottom: 10svh;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s;
    z-index: 80;
}

nav#HomeMenu.Display {
    opacity: 1;
    pointer-events: auto;
}

#MenuCrab {
    position: fixed;
    width: var(--WidthMenuCrab); aspect-ratio: 1 / 1;
    top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    transition: all 0.5s;
    z-index: 81;
}

#MenuCrab.MenuCrabR {
    right: 70%;
    background-image: url(../Image/MoveCrabR.gif);
}
#MenuCrab.MenuCrabB {
    left: 70%;
    background-image: url(../Image/MoveCrabB.gif);
}
#MenuCrab.MenuCrabY {
    right: 100%;
    background-image: url(../Image/MoveCrabY.gif);
}
#MenuCrab.MenuCrabG {
    left: 100%;
    background-image: url(../Image/MoveCrabG.gif);
}
#MenuCrab.MenuCrabP {
    left: calc(50% - var(--WidthMenuCrab) / 2);
    background-image: url(../Image/MoveCrabP.gif);
}

#MenuCrab.Display {
    top: calc(100% - var(--WidthMenuCrab) - 10svh);
}

#MenuCrab.MenuCrabR.Display {
    right: calc(50% - var(--WidthMenuCrab) / 2 + var(--WidthMenuCrab));
}
#MenuCrab.MenuCrabB.Display {
    left: calc(50% - var(--WidthMenuCrab) / 2 + var(--WidthMenuCrab));
}
#MenuCrab.MenuCrabY.Display {
    right: calc(50% - var(--WidthMenuCrab) / 2 + var(--WidthMenuCrab) * 2);
}
#MenuCrab.MenuCrabG.Display {
    left: calc(50% - var(--WidthMenuCrab) / 2 + var(--WidthMenuCrab) * 2);
}

#MenuSelector {
    position: fixed;
    width: var(--WidthMenuSelector); aspect-ratio: 2 / 1;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    pointer-events: none;
    transition-property: left, right, top, bottom, transform;
    transition-duration: 500ms;
    z-index: 82;
}
#MenuSelector:hover {
    transform: scale(1.1);
}

#MenuSelector.Display {
    pointer-events: auto;
}

#MenuSelector.GameA {
    background-image: url(../Image/100sFishing.png), url(../Image/100sFishingPush.png);
}
#MenuSelector.GameA:active {
    background-image: url(../Image/100sFishingPush.png);
}

/* nav {
    display: grid;
    gap: 2px;
    position: absolute;
    left: 50%; top: 11svh;
    transform: translateX(-50%);
    z-index: 1;
    visibility: hidden;
}

nav button {
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
    background-size: 100%, 100%;
}

#ButtonGame {
    background-image: url(../Image/ButtonGame.png), url(../Image/ButtonGamePush.png);
}
#ButtonGame:active {
    background-image: url(../Image/ButtonGamePush.png);
}

#ButtonImage {
    background-image: url(../Image/ButtonImage.png), url(../Image/ButtonImagePush.png);
}
#ButtonImage:active {
    background-image: url(../Image/ButtonImagePush.png);
}

#ButtonSound {
    background-image: url(../Image/ButtonSound.png), url(../Image/ButtonSoundPush.png);
}
#ButtonSound:active {
    background-image: url(../Image/ButtonSoundPush.png);
}

#ButtonVideo {
    background-image: url(../Image/ButtonVideo.png), url(../Image/ButtonVideoPush.png);
}
#ButtonVideo:active {
    background-image: url(../Image/ButtonVideoPush.png);
} */

@media screen and (min-width: 0px) and (max-width: 500px) {

    :root {
        --WidthMenuCrab: 20dvw;
        --WidthMenuSelector: 80dvw;
    }

    header {
        background-image: url(../Image/HeaderTextSmall.png), url(../Image/Icon.png), url(../Image/Brick.png);
        background-size: auto 8svh, 7svh, calc(10.5svh + 30px) 100%;
        background-position: center, left 10px center, right center;
    }

    #MenuSelector.GameA {
        left: calc(50% - var(--WidthMenuSelector) / 2); bottom: 100%;
    }
    #MenuSelector.GameA.Display {
        bottom: calc(100% - var(--WidthMenuSelector) / 2 - 15svh);
    }

    /* nav {
        width: calc(80% + 2px); aspect-ratio: calc(calc(80vw + 2px) / calc(80vw / 4 + 2px));
        grid-template-columns: repeat(2, auto);
    } */

}

@media screen and (min-width: 500px) and (max-width: 1000px) {

    :root {
        --WidthMenuCrab: 15dvw;
        --WidthMenuSelector: 60dvw;
    }

    header {
        background-image: url(../Image/HeaderTextSmall.png), url(../Image/Icon.png), url(../Image/Brick.png);
        background-size: auto 8svh, 7svh, calc(10.5svh + 30px) 100%;
        background-position: left calc(10px + 7svh + 20px) center, left 10px center, right center;
    }

    #MenuSelector.GameA {
        left: calc(50% - var(--WidthMenuSelector) / 2); bottom: 100%;
    }
    #MenuSelector.GameA.Display {
        bottom: calc(100% - var(--WidthMenuSelector) / 2 - 15svh);
    }
    
    /* nav {
        width: calc(80% + 6px); aspect-ratio: calc(calc(80vw + 6px) / calc(80vw / 16 + 0px));
        grid-template-columns: repeat(4, auto);
    } */

}

@media screen and (min-width: 1000px) and (max-width: 9999px) {

    :root {
        --WidthMenuCrab: 10dvw;
        --WidthMenuSelector: 40dvw;
    }

    header {
        background-image: url(../Image/HeaderTextLarge.png), url(../Image/Icon.png), url(../Image/Brick.png);
        background-size: auto 6svh, 7svh, calc(10.5svh + 30px) 100%;
        background-position: left calc(10px + 7svh + 30px) center, left 10px center, right center;
    }

    #MenuSelector.GameA {
        left: calc(50% - var(--WidthMenuSelector) / 2); bottom: 100%;
    }
    #MenuSelector.GameA.Display {
        bottom: calc(100% - var(--WidthMenuSelector) / 2 - 15svh);
    }

    /* nav {
        width: calc(800px + 6px); aspect-ratio: calc(calc(800px + 6px) / calc(50px + 0px));
        grid-template-columns: repeat(4, auto);
    } */

}