@charset "UTF-8";

* {
    padding: 0; margin: 0;
}

html {
    height: 100%;
}

body {
    background-color: #cccccc;
    height: 100%;
    position: relative;
    text-align: center;
    overflow: hidden;
}

header {
    width: 100%; height: 100px;
    position: absolute;
    top: 0;
    background-color: #666666;
    background-repeat: no-repeat, no-repeat, no-repeat;
}

button:hover {
    opacity: 80%;
}

#ButtonOption {
    position: absolute;
    margin: auto 0;
    right: 10px; top: 0; bottom: 0;
    background-color: transparent;
    border-style: none;
    background-image: url(Image/ButtonOption.png), url(Image/ButtonOptionPush.png);
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
    z-index: 5;
}

#ButtonOption:active {
    background-image: url(Image/ButtonOptionPush.png);
}

#MenuOption {
    position: absolute;
    width: 100vw; height: 100vh;
    background-color: #999999;
    opacity: 0;
    pointer-events: none;
    z-index: 1;
}

/* #MenuOption {
    width: 0; height: 0;
    position: absolute;
    right: 47.5px; top: 50%;
    background-color: #999999;
    transition: all 0.5s;
    z-index: 1;
}

#MenuOption.active {
    width: 100vw; height: 100vh;
    right: 0; top: 0;
} */

.Crab {
    position: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    transition: all 0.5s;
}

.Crab#CrabP {
    z-index: 4;
    background-image: url(Image/CrabP.png);
}

.Crab#CrabR {
    z-index: 3;
    background-image: url(Image/CrabR.png);
}

.Crab#CrabB {
    z-index: 3;
    background-image: url(Image/CrabB.png);
}

.Crab#CrabY {
    z-index: 2;
    background-image: url(Image/CrabY.png);
}

.Crab#CrabG {
    z-index: 2;
    background-image: url(Image/CrabG.png);
}

nav {
    display: grid;
    gap: 2px;
    position: absolute;
    left: 50%; top: 105px;
    transform: translateX(-50%);
}

nav button {
    background-color: transparent;
    border-style: none;
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
    background-size: 100%, 100%;
}

#ButtonGame {
    background-image: url(Image/ButtonGame.png), url(Image/ButtonGamePush.png);
}

#ButtonGame:active {
    background-image: url(Image/ButtonGamePush.png);
}

#ButtonImage {
    background-image: url(Image/ButtonImage.png), url(Image/ButtonImagePush.png);
}

#ButtonImage:active {
    background-image: url(Image/ButtonImagePush.png);
}

#ButtonSound {
    background-image: url(Image/ButtonSound.png), url(Image/ButtonSoundPush.png);
}

#ButtonSound:active {
    background-image: url(Image/ButtonSoundPush.png);
}

#ButtonVideo {
    background-image: url(Image/ButtonVideo.png), url(Image/ButtonVideoPush.png);
}

#ButtonVideo:active {
    background-image: url(Image/ButtonVideoPush.png);
}

footer {
    width: 100%; height: 100px;
    position: absolute;
    bottom: 0;
    background-color: #666666;
    background-image: url(Image/FooterText.png);
    background-size: 172px;
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (min-width: 0px) and (max-width: 499.999px) {

    header {
        background-image: url(Image/HeaderTextSmall.png), url(Image/Icon.png), url(Image/Brick.png);
        background-size: 125px, 60px, calc(151px * 4 /5) 100px;
        background-position: center, left 10px center, right center;
    }

    #ButtonOption {
        width: 60px; height: 60px;
        background-size: 60px, 60px;
    }

    .Crab {
        width: 80vw; aspect-ratio: 1 / 1;
    }

    .Crab#CrabP {
        left: calc(50% - 40vw); top: 100%;
        /* left: 50%; bottom: -100%;
        transform: translate(-50%, +50%) */
    }
    .Crab#CrabR {
        display: none;
    }
    .Crab#CrabB {
        display: none;
    }
    .Crab#CrabY {
        display: none;
    }
    .Crab#CrabG {
        display: none;
    }

    .Crab#CrabP.active {
        transform: translate(0, -80vw);
        /* transform: translate(-50%, +50%) translate(0, -120vh); */
    }

    nav {
        width: calc(80% + 2px); aspect-ratio: calc(calc(80vw + 2px) / calc(80vw / 4 + 2px));
        grid-template-columns: repeat(2, auto);
    }

}

@media screen and (min-width: 500px) and (max-width: 999.999px) {

    header {
        background-image: url(Image/HeaderTextSmall.png), url(Image/Icon.png), url(Image/Brick.png);
        background-size: 125px, 75px, calc(151px * 47.5 /50) 100px;
        background-position: left 100px center, left 10px center, right center;
    }

    #ButtonOption {
        width: 75px; height: 75px;
        background-size: 75px;
    }

    .Crab {
        width: 50vw; aspect-ratio: 1 / 1;
    }

    .Crab#CrabP {
        left: calc(50% - 25vw); top: 100%;
        /* left: 50%; bottom: -100%;
        transform: translate(-50%, +50%); */
    }
    .Crab#CrabR {
        right: 100%; top: 100%;
        /* left: -50%; bottom: 0;
        transform: translate(-50%, +50%); */
    }
    .Crab#CrabB {
        left: 100%; top: 100%;
        /* right: -50%; bottom: 0;
        transform: translate(+50%, +50%); */
    }
    .Crab#CrabY {
        display: none;
    }
    .Crab#CrabG {
        display: none;
    }

    .Crab#CrabP.active {
        transform: translate(0, -40vw);
        /* transform: translate(-50%, +50%) translate(0, -120vh); */
    }
    .Crab#CrabR.active {
        transform: translate(+50vw, calc(-40vw - 20vh));
        /* transform: translate(-50%, +50%) translate(+75vw, -35vh); */
    }
    .Crab#CrabB.active {
        transform: translate(-50vw, calc(-40vw - 20vh));
        /* transform: translate(+50%, +50%) translate(-75vw, -35vh); */
    }

    nav {
        width: calc(80% + 6px); aspect-ratio: calc(calc(80vw + 6px) / calc(80vw / 16 + 0px));
        grid-template-columns: repeat(4, auto);
    }

}

@media screen and (min-width: 1000px) and (max-width: 9999px) {
    
    header {
        background-image: url(Image/HeaderTextLarge.png), url(Image/Icon.png), url(Image/Brick.png);
        background-size: 331px, 75px, calc(151px * 47.5 /50) 100px;
        background-position: left 100px center, left 10px center, right center;
    }

    #ButtonOption {
        width: 75px; height: 75px;
        background-size: 75px;
    }

    .Crab {
        width: 40vw; aspect-ratio: 1 / 1;
    }

    .Crab#CrabP {
        left: calc(50% - 20vw); top: 100%;
        /* left: 50%; bottom: -100%;
        transform: translate(-50%, +50%); */
    }
    .Crab#CrabR {
        right: 100%; top: 100%;
        /* transform: translate(-50%, +50%); */
    }
    .Crab#CrabB {
        left: 100%; top: 100%;
        /* transform: translate(+50%, +50%); */
    }
    .Crab#CrabY {
        right: 100%; top: calc(100% + calc(-30vw - 30vh));
        /* transform: translate(-50%, +50%); */
    }
    .Crab#CrabG {
        left: 100%; top: calc(100% + calc(-30vw - 30vh));
        /* transform: translate(+50%, +50%); */
    }

    .Crab#CrabP.active {
        transform: translate(0, -30vw);
        /* transform: translate(-50%, +50%) translate(0, -120vh); */
    }
    .Crab#CrabR.active {
        transform: translate(+40vw, calc(-30vw - 10vh));
        /* transform: translate(-50%, +50%) translate(+70vw, -50vh); */
    }
    .Crab#CrabB.active {
        transform: translate(-40vw, calc(-30vw - 10vh));
        /* transform: translate(+50%, +50%) translate(-70vw, -50vh); */
    }
    .Crab#CrabY.active {
        transform: translate(+50vw, 0);
        /* transform: translate(-50%, +50%) translate(+80vw, 0); */
    }
    .Crab#CrabG.active {
        transform: translate(-50vw, 0);
        /* transform: translate(+50%, +50%) translate(-80vw, 0); */
    }

    nav {
        width: calc(800px + 6px); aspect-ratio: calc(calc(800px + 6px) / calc(50px + 0px));
        grid-template-columns: repeat(4, auto);
    }

}

/*
@media (min-width: 0px)
{
    body
    {
        background-color: #dfdfdf;
    }

    .IfLinkExist
    {
        display: none;
    }

    .Title
    {
        text-align: center;
        color: #ffffff;
        background-color: #3f3f3f;
        height: 100px;
        line-height: 90px;
    }

    .TitleText
    {
        display: inline-block;
        vertical-align: middle;
    }

    .GameTitle a
    {
        color: #6f006f;
        text-decoration: none;
        pointer-events: none;
    }

    .ScreenShot
    {
        text-align: center;
    }

    .ScreenShot img
    {
        width: 80%;
    }
}

@media (min-width: 600px) 
{
    .IfLinkExist
    {
        display: inline;
    }

    .GameTitle a
    {
        pointer-events: auto;
    }
}
*/