@charset "UTF-8";

@media (min-width: 0px)
{
    body
    {
        background-color: #cfcfcf;
    }

    .IfLinkExist
    {
        display: none;
    }

    .Title
    {
        text-align: center;
        color: #ffffff;
        background-color: #3f3f3f;
        height: 100px;
        line-height: 90px;
    }

    .TitleText
    {
        display: inline-block;
        vertical-align: middle;
    }

    .GameTitle a
    {
        color: #6f006f;
        text-decoration: none;
        pointer-events: none;
    }

    .ScreenShot
    {
        text-align: center;
    }

    .ScreenShot img
    {
        width: 80%;
    }
}

@media (min-width: 600px) 
{
    .IfLinkExist
    {
        display: inline;
    }

    .GameTitle a
    {
        pointer-events: auto;
    }
}


