/* 横画面ゲームに必要なスタイル情報をまとめたファイル */

@charset "utf-8";

:root {
    --SizeFontCountText: 8dvw;
    --WidthButton: 200px;
    --WidthChicken: 8dvw;
    --WidthCrab: 8dvw;
    --WidthEffectFlickChicken: 12dvw;
}

#CountText {
    top: 20%;
}